<mat-card class="my-4 shadow rounded">
  <div class="product-container">
    <div class="product-image" routerLink="/productDetails/{{product.id}}">
      <img src="{{product.url}}" alt="{{product.name}}" class="w-100 h-100">
    </div>
    <h2>{{product.name}}</h2>
    <h3 class="fw-bold text-success">${{product.price}}</h3>
    <input type="number" min="1" class="select-input form-control" value="{{amount}}"
      (change)="inputChangeHandler($event)">
    <button class="btn btn-primary" (click)="addToCartHander()">Add to Cart</button>
  </div>
</mat-card>
